@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

body, html
{
	height:100%;
  width:100%;
	padding:0;
  margin:0;
}

body 
{
	font-weight:300;
	font-family: 'Lato', sans-serif;
  align-items:center;
  display:none;
  min-height:100%;
}

a, a:hover, a:active, a:visited
{
  text-decoration: none;
  transition: linear 0.15s;
}

.navbar
{
  padding:25px 40px;
  background: rgb(80,88,198);
  background: linear-gradient(90deg, rgba(80,88,198,1) 0%, rgba(136,142,242,1) 100%);
}

.navbar li
{
  margin: 0 10px;
}

.dropdown-item img
{
  margin-right:5px;
}

.navbar-brand
{
  color:white!important;
  font-weight:100;
  letter-spacing:0.75px;
  font-size:26px;
}

.navbar .navbar-nav
{
  color:white;
}

.profile-img
{
  border-radius: 50%;
  transition: linear 0.3s;
  height:50px;
  width:50px;
  margin: 0 10px;
}

.profile-img:hover
{
  box-shadow: 0px 0px 5px #fff;
}

.background-special
{
  background: linear-gradient(180deg, #5058C6 50%, #FFFFFF 50%) fixed;
  min-height:100%;
}

.card
{
	border-radius:5px;
	padding:60px 70px;
	box-shadow:0 5px 15px rgba(0,0,0,.12) !important;
}

.btn-login
{
  width:100%;
  border-radius:5px;
  border:none;
  font-weight:100;
}

.btn-register
{
  width:50%;
  border-radius:5px;
  border:none;
  font-weight:100;  
}

input.form-control
{
	border-radius:5px;
  background-color:#FBFBFB;
  border:1px solid #e5e5e5;
}

input.form-control::placeholder
{
  color:#A8A8A8;
  font-weight: 100;
}

.dropdown .dropdown-menu {
  display: block;
  overflow: hidden;
  margin-top:10px;
}
.invisible {
  opacity: 0;
}

.spinner 
{
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.spinner > div 
{
  width: 18px;
  height: 18px;
  background-color: #333;
  margin: 5px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 
{
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 
{
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay 
{
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay 
{
  0%, 80%, 100% 
  { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% 
  { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}